@model IEnumerable<ClinicPortal.Models.CRDIMgr.Patient>


@{
    ViewBag.Title = "ModifyPatient";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ModifyPatient</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmgContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmgContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.User.EmailID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.User.IsActive)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.User.IsLocked)
        </th>




        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmgContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmgContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>


            <td>
                @Html.DisplayFor(model => item.User.EmailID)
            </td>

            <td>
                @Html.DisplayFor(model => item.User.IsActive)
            </td>

            <td>
                @Html.DisplayFor(model => item.User.IsLocked)
            </td>


            <td>
                @Html.ActionLink("Edit", "EditPatientInfo", new { id = item.PatientID })

            </td>
        </tr>
    }

</table>
